
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Copyrights.Ayaz idrisi @2021.Visit Website.<a href="https://idrisiayaz.github.io/Ayaz-idrisi" style="color:wheat">idrisiayaz.github.io</a></p>
  </div>
</div>
</body>
</html>
