<%- include("partials/header"); -%>
    <h1>About</h1>
    <p> <%= aboutContent %> </p>
    <p>You can Checkout  my profile at <a href="https://idrisiayaz.github.io/Ayaz-idrisi">idriiayaz.github.io</a>. Also you can checkout my projects done so far.</p>
    <br>
    <p>Subscribe to "DAILY JOURNAL" for more information and updates.</p>
    <p>You can mail your story to us and we will post it on our DAILY JOURNAL Website.</p>

<%- include("partials/footer"); -%>
