<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> <%= contactContent %> </p>
    <p>You can contact me through my <a href="https://vast-springs-76453.herokuapp.com/">NewsLetter-SignUp</a> page. By adding your details and signing up we will reach out to you.</p>
    <br>
    <h1>E-mail address</h1>
    <p>You can reach me out through the mail address.</p>
    <p><a href="mailto:idrisiayaz@gmail.com">idrisiayaz@gmail.com</a></p>
    <br>
    <h1>Website</h1>
    <p>Do Checkout my Website.</p>
    <p>-@ <a href="https://idrisiayaz.github.io/Ayaz-idrisi">idrisiayaz.github.io</a></p>
    <br>
    <h1>Postal Address</h1>
    <p>Mumbai ,40001.Maharashtra .India</p>
<%- include("partials/footer"); -%>
